beautifulsoup4==4.14.3
chardet==5.2.0
docx2pdf==0.1.8
Faker==39.0.0
fpdf==1.7.2
gspread==6.2.1
matplotlib==3.10.8
numpy==2.3.5
pandas==2.3.3
pdfplumber==0.11.8
plotly==6.3.1
python_docx==1.2.0
Requests==2.32.5
seaborn==0.13.2
selenium==4.39.0
SQLAlchemy==2.0.45
streamlit==1.50.0
undetected_chromedriver==3.5.5
